@import "./variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  font-family: Arial;
  overflow: scroll;
  overflow-x: hidden;
  background-color: $secondary-white;
}

h1 {
  font-size: 1.8rem;
  @include md {
    font-size: 2.2rem;
  }
}

h2 {
  font-size: 1.5rem;
  @include md {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1rem;
  @include md {
    font-size: 1.4rem;
  }
}

span {
  font-size: 1.5rem;
  @include md {
    font-size: 2rem;
  }
}
