@import "./resets";
@import "./variables";
@import "./scrollbar";

.headbar {
  width: 100vw;
  height: 55px;
  background-color: $gamigo-primary;
  position: relative;
  z-index: 2;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 90%;
    border-bottom: 2px solid $primary-white;
    overflow: visible;
  }
}
.logo {
  width: 100vw;
  background-image: url(../../src/assets/gamigo.png);
  background-size: 210px;
  background-position: top center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  z-index: 2;
  @include mt {
    background-size: 300px;
  }
  @include lg {
    background-size: 300px;
    top: 0px;
  }
}
.container {
  @include mt {
    margin-top: 15%;
  }
  @include lg {
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  width: 100vw;
  padding-top: 1rem;
  background-color: $secondary-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  .title {
    padding: 0 1rem;
  }

  .area-top {
    @include lg {
    }
    width: 100vw;
    margin: 1rem 0;
  }

  .area-middle {
    width: 100vw;
    height: 350px;
    display: flex;
    @include mt {
      margin-top: 20px;
    }
    @include lg {
      margin-top: 2.9rem;
      width: 490px;
      height: 550px;
    }

    &__wrapper {
      @extend .card;

      width: #{"min(80vw, #{1.56*$min-card-width})"};
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      @include lg {
        margin: 0 5%;
      }
      h2 {
        margin: 1rem 0;
        span {
          position: relative;
          width: 100%;
          height: 100%;
        }
      }
      .vs-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        & > * {
          width: $btn-size;
          height: $btn-size;
          margin: 1rem 0;
          align-items: center;
          display: inline-flex;
          justify-content: center;
          @include lg {
            width: $btn-size * 2;
            height: $btn-size * 2;
          }
        }
        .vs-logo {
          background-image: url(../../src/assets/versus.png);
          background-size: 50px;
          background-position: center center;
          background-repeat: no-repeat;
          margin: auto;
          position: relative;
          @include lg {
            background-size: 100px;
          }
        }

        .vs-logo--active {
          // animation: vs-zoom 2s normal;
          @include zoomer(50px);
          @include lg {
            @include zoomer(100px);
          }
        }
        .vs-logo--draw {
          background-image: url(../../src/assets/equal.png);
          background-size: 100px;
          @include lg {
            background-size: 150px;
          }
        }

        .choice-p2 {
          &::after {
            content: "?";
            font-size: 5rem;
            animation: bounce 2s infinite;
            @include lg {
              font-size: 7rem;
            }
          }
        }
        .choice-p2--active {
          opacity: 0;
          background-size: 100%;
          background-repeat: no-repeat;
          &::after {
            content: "";
          }
        }
        @keyframes bounce {
          0%,
          20%,
          50%,
          80%,
          100% {
            transform: translateY(0);
          }
          60% {
            transform: translateY(-10px);
          }
          20% {
            transform: translateY(-10px);
          }
        }
        .choice-p1 {
          &::before {
            content: "";
            background-color: $primary-text;
            width: $btn-size;
            height: $btn-size;
            position: absolute;
            border-radius: 50%;
            opacity: 0.2;
            @include lg {
              width: $btn-size * 1.8;
              height: $btn-size * 1.8;
            }
          }
          &::after {
            content: "";
            background-color: $primary-white;
            width: 0.8 * $btn-size;
            height: 0.8 * $btn-size;
            position: absolute;
            border-radius: 50%;
            z-index: 2;
            @include lg {
              width: $btn-size * 1.6;
              height: $btn-size * 1.6;
            }
          }
        }
        .choice-p1--active {
          span {
            opacity: 0;
            z-index: 6;
            background-size: 100%;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
          }
        }
        .choice-p1--win {
          &::before {
            content: "";
            background-color: $primary-green;
          }
        }
        .choice-p1--loose {
          &::before {
            content: "";
            background-color: $primary-red;
          }
        }
      }
    }
  }
  .area-bottom {
    @include md {
      align-content: unset;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(3, $btn-size);
      grid-template-areas:
        ". . rock .  paper . ."
        ". . . scissors . . ."
        ". points-p2  points-p2  . points-p1 points-p1 .";
    }
    @include mt {
      margin-top: 10%;
      grid-template-rows: repeat(5, $btn-size);
      grid-gap: 0px;
      grid-template-areas:
        ". . rock .  paper . ."
        ". . . scissors . . ."
        ". . . . . . . "
        ". points-p2  points-p2  . points-p1 points-p1 .";
    }

    @include lg {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(4, $btn-size);
      grid-column-gap: $btn-size/2;
      grid-row-gap: $btn-size;
      grid-template-areas:
        ". rock .  paper ."
        ". . scissors . ."
        ". points-p1  points-p1  points-p1 ."
        ". points-p2  points-p2  points-p2  . ";
      width: 550px;
    }
    margin: 1rem 0;
    white-space: nowrap;
    width: 100vw;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, $btn-size);
    grid-template-rows: repeat(4, $btn-size);
    grid-gap: $btn-size/3;
    place-items: center;
    grid-template-areas:
      "rock . paper"
      ". scissors ."
      "points-p1 points-p1 points-p1"
      "points-p2 points-p2 points-p2";
    align-content: center;
    justify-content: center;
    & > * {
      width: $btn-size;
      height: $btn-size;
      align-items: center;
      display: inline-flex;
      justify-content: center;
    }
    .points-p2 {
      grid-area: points-p2;
    }
    .points-p1 {
      grid-area: points-p1;
    }
    .rps-block {
      @include lg {
        width: $btn-size * 1.7;
        height: $btn-size * 1.7;
      }
      &::after {
        opacity: 0.3;
      }
    }
    .rps-block--active {
      &::after {
        transition: opacity 0.5s ease-out;
        opacity: 1;
      }
    }
    .rock {
      grid-area: rock;
      &::after {
        content: "";
        background-image: url(../../src/assets/rock.png);
        background-size: 95%;
        background-repeat: no-repeat;
        background-position: 0px 0px;
        position: relative;
        width: 100%;
        height: 100%;
        margin: -10px -20px;
        padding: 10px 20px;
        top: -5px;
        cursor: pointer;
      }
      &:hover {
        &::after {
          background-image: url(../../src/assets/rock-active.png);
        }
      }
    }
    .paper {
      grid-area: paper;
      &::after {
        content: "";
        background-image: url(../../src/assets/paper.png);
        background-size: 95%;
        background-repeat: no-repeat;
        background-position: 0px -10px;
        position: relative;
        width: 100%;
        height: 100%;
        margin: -10px -20px;
        padding: 10px 20px;
        cursor: pointer;
      }
      &:hover {
        &::after {
          background-image: url(../../src/assets/paper-active.png);
        }
      }
    }
    .scissors {
      grid-area: scissors;
      &::after {
        content: "";
        background-image: url(../../src/assets/scissors.png);
        background-size: 95%;
        background-repeat: no-repeat;
        background-position: 0px -10px;
        position: relative;
        width: 100%;
        height: 100%;
        margin: -10px -20px;
        padding: 10px 20px;
        cursor: pointer;
      }
      &:hover {
        &::after {
          background-image: url(../../src/assets/scissors-active.png);
        }
      }
    }
    .points {
      @extend .card;
      width: #{"min(80vw, #{1.56*$min-card-width})"};
      margin-top: 2rem;
      @include md {
        width: 320px;
      }
      @include lg {
        width: 400px;
        height: 80px;
        margin-top: 0;
      }
    }

    .rps-jquery {
      &::after {
        transition: 0.1s;
        background-size: 98%;
        margin: -13px -23px;
        padding: 13px 23px;
        opacity: 0.9;
      }
    }
  }
}

.btn-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;

  .rules-btn,
  .auto-btn {
    top: 0;
    position: sticky;

    margin-top: 0.2rem;
    @include md {
      margin-top: 0.7rem;
    }
  }
  .rules-btn {
    margin-right: 1rem;
    order: 1;
  }
  .auto-btn {
    order: 0;
    margin-left: 0.5rem;
  }
  .auto-btn--active {
    background-color: red;
    cursor: default;
    opacity: 1;
    pointer-events: none;
  }
}

.screen-container--active {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background-color: rgba($primary-text, 0.8);
  .start-screen {
    margin-top: 9vh;
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: #{"min(85vw, #{2.4*$min-card-width})"};
    height: 450px;
    background: $primary-white;
    border-radius: 10px;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1),
      0 0 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;

    h2 {
      margin: 2rem 0;
    }
    .rules-img {
      background-image: url(../../src/assets/rules.png);
      background-size: 90%;
      background-repeat: no-repeat;
      background-position: center top;
      background-size: contain;
      position: relative;
      width: 100%;
      height: 270px;
    }
    .buttons-wrapper {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .resume-btn {
      margin: 2rem 0;
      width: 12rem;
      @include md {
        font-size: 1.5rem;
        height: 3rem;
      }
    }
    .start-btn {
      margin-top: 0.5rem;
      width: 12rem;
      font-size: 1rem;
      @include md {
        font-size: 1.5rem;
        height: 3rem;
      }
    }
    .resultMsgs {
      width: 100%;
      height: 50px;
      text-align: center;
      h3 {
        margin: 1rem 0;
      }
    }
  }
}
.screen-container {
  visibility: hidden;
  display: none;
}

.card {
  min-width: $min-card-width;
  background: rgba($primary-white, 0.9);
  border-radius: 10px;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1), 0 0 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.btn {
  z-index: 10;
  height: 2.2rem;
  width: 4rem;
  border: 0.2em solid rgba($gamigo-primary, 0.8);
  border-radius: 2em;
  text-decoration: none;
  font-weight: 300;
  color: $primary-white;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
  background-color: $primary-text;
  opacity: 0.6;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.popup-screen {
  z-index: 15;
  .start-screen {
    margin-top: 20vh;
    height: 150px;
    .input {
      background: linear-gradient(21deg, $gamigo-secondary, $gamigo-primary);
      padding: 3px;
      display: inline-block;
      margin: 0.5rem 2rem;

      // we want rounded corners no matter the size of the field
      border-radius: 9999em;

      *:not(span) {
        width: 9.5rem;
        height: 1.5rem;
        @include md {
          height: 2.5rem;
          width: 11.5rem;
        }
        position: relative;
        display: inherit;
        border-radius: inherit;
        margin: 0;
        border: none;
        outline: none;
        padding: 0 0.325em;
        z-index: 1; // needs to be above the :focus span
      }
    }
    .enter-btn {
      margin-top: 0.5rem;
      width: 10rem;
      @include md {
        font-size: 1.5rem;
        height: 3rem;
        margin-top: 1rem;
        width: 12rem;
      }
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
