@import "./resets";
@import "./variables";
@import "./scrollbar";

.headbar {
  width: 100%;
  height: 55px;
  background-color: $gamigo-primary;
  position: relative;
  z-index: 2;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 90%;
    border-bottom: 2px solid $primary-white;
    overflow: visible;
  }
}
.logo {
  background-image: url(../../src/assets/gamigo.png);
  background-size: 210px;
  background-position: top center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  z-index: 2;
}
.container {
  padding-top: 1rem;
  background-color: $secondary-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  .title {
    margin: 0 1rem;
  }

  .area-top {
    width: 100vw;
    margin: 1rem 0;
  }

  .area-middle {
    width: 100vw;
    height: 350px;
    display: flex;

    &__wrapper {
      @extend .card;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      h2 {
        margin: 0.5rem 0;
      }
      .vs-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        & > * {
          width: $btn-size;
          height: $btn-size;
          margin: 1rem 0;
          align-items: center;
          display: inline-flex;
          justify-content: center;
        }
        span {
          background-image: url(../../src/assets/versus.png);
          background-size: 50px;
          background-position: center center;
          background-repeat: no-repeat;
          margin: auto;
          position: relative;
        }

        .choice-p2 {
          &::after {
            content: "?";
            font-size: 5rem;
            animation: bounce 2s infinite;
          }
        }
        @keyframes bounce {
          0%,
          20%,
          50%,
          80%,
          100% {
            transform: translateY(0);
          }
          60% {
            transform: translateY(-10px);
          }
          20% {
            transform: translateY(-10px);
          }
        }
        .choice-p1 {
          &::before {
            content: "";
            background-color: $primary-text;
            width: $btn-size;
            height: $btn-size;
            position: absolute;
            border-radius: 50%;
            opacity: 0.2;
          }
          &::after {
            content: "";
            background-color: $primary-white;
            width: 0.8 * $btn-size;
            height: 0.8 * $btn-size;
            position: absolute;
            border-radius: 50%;
            z-index: 2;
          }
        }
      }
    }
  }
  .area-bottom {
    margin: 1rem 0;
    white-space: nowrap;
    width: 100vw;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, $btn-size);
    grid-template-rows: repeat(4, $btn-size);
    grid-gap: $btn-size/3;
    place-items: center;
    grid-template-areas:
      "rock . paper"
      ". scissors ."
      "points-p1 points-p1 points-p1"
      "points-p2 points-p2 points-p2";
    align-content: center;
    justify-content: center;
    & > * {
      width: $btn-size;
      height: $btn-size;
      align-items: center;
      display: inline-flex;
      justify-content: center;
    }
    .points-p2 {
      grid-area: points-p2 / span 3;
    }
    .points-p1 {
      grid-area: points-p1 / span 3;
    }
    .rps-block {
      &::after {
        transition: opacity 2s ease-out;
        opacity: 0.7;
      }
    }
    .rps-block--active {
      &::after {
        transition: opacity 2s ease-out;
        opacity: 1;
      }
    }
    .rock {
      grid-area: rock;
      &::after {
        content: "";
        background-image: url(../../src/assets/rock.png);
        background-size: 95%;
        background-repeat: no-repeat;
        background-position: 0px 0px;
        position: relative;
        width: 100%;
        height: 100%;
        margin: -10px -20px;
        padding: 10px 20px;
        top: -5px;
        cursor: pointer;
      }
      &:hover {
        &::after {
          background-image: url(../../src/assets/rock-active.png);
        }
      }
    }
    .paper {
      grid-area: paper;
      &::after {
        content: "";
        background-image: url(../../src/assets/paper.png);
        background-size: 95%;
        background-repeat: no-repeat;
        background-position: 0px -10px;
        position: relative;
        width: 100%;
        height: 100%;
        margin: -10px -20px;
        padding: 10px 20px;
        cursor: pointer;
      }
      &:hover {
        &::after {
          background-image: url(../../src/assets/paper-active.png);
        }
      }
    }
    .scissors {
      grid-area: scissors;
      &::after {
        content: "";
        background-image: url(../../src/assets/scissors.png);
        background-size: 95%;
        background-repeat: no-repeat;
        background-position: 0px -10px;
        position: relative;
        width: 100%;
        height: 100%;
        margin: -10px -20px;
        padding: 10px 20px;
        cursor: pointer;
      }
      &:hover {
        &::after {
          background-image: url(../../src/assets/scissors-active.png);
        }
      }
    }
    .points {
      @extend .card;
      margin-top: 2rem;
      width: 80vw;
    }

    .rps-jquery {
      &::after {
        transition: 0.1s;
        background-size: 98%;
        margin: -13px -23px;
        padding: 13px 23px;
        opacity: 0.9;
      }
    }
  }
  .card {
    width: #{"min(80vw, #{1.56*$min-card-width})"};
    min-width: $min-card-width;
    background: rgba($primary-white, 0.9);
    border-radius: 10px;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1),
      0 0 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
}
